/* vars */

.today, #pminute, #psecond, .pclock{
  font-size: 20px;
	 text-align: center;
      color: #000;
}


  .animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    font-size: 13px;
  }

.container {
  padding-top: 75px;
}
.todo-list {
  margin: 20px 0;
}
.todo-list li {
  background: #f3f3f3;
  border-radius: 5px;
/* box-shadow 0 0 15px rgba(0,0,0,.5) */
  margin-bottom: 7px;
  position: relative;
  word-break: break-word;
}
.todo-list li.danger {
      background: rgb(56, 56, 56);
}
.todo-list li.danger label {
  text-decoration: line-through;
  color: #fff;
}
.todo-list li.danger label .checkbox-mask {
  border-color: transparent;
}
.todo-list li.danger label .checkbox-mask:after {
  content: '\f00c';
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
}
.todo-list li .checkbox {
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
}
.todo-list li label {
  display: block;
  padding-right: 10px;
}
.todo-list li label input[type="checkbox"] {
  visibility: hidden;
}
.todo-list li label .checkbox-mask {
  display: block;
  border: 2px solid #666;
  width: 12px;
  height: 12px;
  border-radius: 2.5px;
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
.todo-list li .close {
  display: none;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  right: 10px;
  font-size: 16px;
}
.todo-list li .close .fa {
  line-height: 16px;
}
.todo-list li:hover .close {
  display: block;
}
.has-feedback .fa {
  line-height: 35px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  display: block;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
.has-feedback .fa:hover {
  color: #999;
}
.add-control {
  margin-top: 20px;
  position: relative;
}
.add-control .form-control {
  padding-right: 25px;
}
.add-control .sbtn {
  padding-right: 25px;
}
.add-control .refresh {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 14px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-right: -10px;
  cursor: pointer;
  color: #9da1af;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
.add-control .refresh:hover {
  color: #666;
}
.form-control,
.form-control:focus,
.form-control:active,
.form-control:active:focus {
  border: none;
  padding: 10px 15px;
  outline: none;
}
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #cecece;
	background-color: #000;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.sbtn,
.sbtn:focus,
.sbtn:active,
.sbtn:active:focus {
  border: none;
  padding: 10px 15px;
  outline: none;
}
.sbtn {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #131313;
	background-color: #cecece;
}
.sbtn:focus {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.separator {
  margin: 15px auto;
  width: 50%;
  height: 1px;

}
.animated {
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.fast {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}


.zero{

    top: 8px;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    margin-right: -10px;
    cursor: pointer;
    color: #9da1af;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
}


$c-gray: #8d959b;
$c-light: #f9f9f9;
$c-dark: #404060;
$c-red: #e96575;
$c-blue: #4b96f0;
// Base Classes
.group:after {
  content: "";
  display: table;
  clear: both;
}
.btn_wrapper {
  @extend .group;
  max-width: 250px;
  margin: 0 auto;
}


button {

      font-size: 16px;
      /* border: 1px; */
      color: #ffffff;
      background: #fff0;
      padding: 10px 20px;
      transition: all 0.3s;
      outline: none;
      border-color: #FFF;
      border-radius: 35px;
      margin-left: 5px;
    margin-right: 5px;
  }
}
button[disabled] {
  color: $c-gray !important;
  background: #fff !important;
}
.output {
  padding-bottom: 10px;

  button {
    color: $c-blue;
    &:hover,
    &:focus {
      transform: scale(1.5);
      background: transparent;
    }
  }
}


#start {
    background: #6200ff;
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

#start:hover {
  /* Rectangle 4: */

box-shadow: 0 0 25px 0 #452579;
    color: white;
}

#inc{
  border: none;
    font-size: 40px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
#dec{

    border: none;
    font-size: 40px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
}
}

}
#reset {

  color: $c-red;
  &:hover,
  &:focus {
    background-color: $c-red;
    color: #fff;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.pomodoro {
    text-align: center;
}

p {
    margin: 15px 0 10px;
    font-size: 46px;
    font-weight: 700;
    color: #FFF;
    /* border-bottom: 1px; */
    /* border: 1px; */
    /* border-color: #FFF; */
}


.fa-ban:before {
    content: "\f05e";
    color: #8c8c8c;
    /* size: 22px; */
    font-size: 29px;
}


.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -60px;
}


.h4, h4 {
    font-size: 13px;
    color: #929292;
    text-align: center;
    margin-top: 40px;
    line-height: 5px;
}

a:focus, a:hover {
    color: #000;
  text-decoration: none;
}

a {
    color: #000;
  text-decoration: none;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
    color: #000;
}

/* @media (min-width: 768px){
.container {
    width: 750px;
}
} */

@media (max-width: 768px){
.col-xs-offset-3 {
    margin-left: 10%;
}
}

@media (max-width: 768px){
.col-xs-6 {
  width: 80%;
}
}
@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial 脿 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

@media (min-width: 992px){
.container {
    width: 100%;
    max-width: 1150PX;
}
}

@media (max-width: 680px){
svg {
    width: 70px;
    height: 70px;

}
}

.todo-list input[type="checkbox"] {
    opacity: 0;
}


.change {
    background-image: url(color.svg);
    width: 96px;
    height: 19px;
    background-repeat: no-repeat;
    display: inline-block;
}
.dark {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-image: url(white-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    margin-right: auto;
    margin-left: 2px;
    display: inline-block;
    border: solid 1px #383838;
    transform: translate(0, 0);
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-font-smoothing: antialiased;
}

.white{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-image: url(dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: solid 1px #383838;
  transform: translate(0, 0);
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-font-smoothing: antialiased;
 
#notearea {
	background-color:beige;
	height: 225px;
}

.color {
    text-align: center;
    margin-bottom: -13px;
    margin-top: 10px;
}

.labeleasy {
	color: #3ABB37;
}

.labeltry {
	color: #198DF3;
}

.labelmust {
	color: #E9383B;
}

.labellongterm {
	font-style: italic;
}

.labelplan {
	color: slategray;
}
/* .col-xs-offset-3 {
    margin-left: 10%;
}
.col-xs-6 {
    width: 80%;
} */
